<div class="text">
  <div>
    <img class="img" src="../../../assets/medicine-animate.svg" alt="" />
  </div>
  <br />
  <h2 class="titulo">Por que o autismo é mais comum em meninos?</h2>
  <br />
  <p>
    Isso ocorre porque a genética masculina é diferente da feminina. Entre as
    principais diferenças está que as meninas carregam duas cópias do cromossomo
    sexual X e os meninos só uma (o outro cromossomo sexual é representado pelo
    Y). Assim, postula-se dentro do ciência que o cromossomo sexual X seria um
    fator de proteção para o desenvolvimento do transtorno do espectro autista.
    Todos nós temos em nosso material genético genes que expressam determinados
    tipos de proteínas. Estas, estão relacionadas a alguns transtornos mentais e
    também doenças físicas. Por conta das inúmeras variações entre os genes dos
    meninos e das meninas, os córtex dos cérebros (parte onde ficam os corpos
    celulares dos neurônios) de homens são mais finos que os das mulheres. Além
    disso, uma diferença marcante entre rapazes e moças é que aqueles têm uma
    quantidade de testosterona maior que estas. Essa discrepância existe desde a
    vida fetal, o que pode tornar os meninos mais suscetíveis ao desenvolvimento
    de sintomas como:
  </p>
  <br />
  <p>• Menor contato visual</p>
  <br />
  <p>• Menos interesses;</p>
  <br />
  <p>• Ter relações sociais mais precárias</p>
  <br />
  <h2 class="titulo">Tratamento do autismo</h2>
  <br />
  <p>
    O principal objetivo do tratamento do autista é reduzir os sintomas a partir
    do aprendizado e desenvolvimento. Ou seja, isso melhora as habilidades
    sociais e comunicação dessas pessoas. Não existe um único tratamento, pois
    cada autista tem a sua própria dificuldade e grau de resposta às atividades.
    Por isso, apenas um especialista poder dizer quais são as melhores práticas
    para cada pessoa
  </p>
  <br />
  <p>Veja algumas possibilidades de tratamento:</p>
  <br />
  <h2 >1) Fonoaudiologia</h2>
  <p>
    A fonoaudiologia é um dos tratamentos mais importantes. Isso porque se
    concentra nas habilidades de linguagem e comunicação das pessoas. Esse
    profissional pode ajudar a pessoa a melhorar sua comunicação social e o uso
    funcional da linguagem.
  </p>
  <h2>2) Ludoterapia</h2>
  <br />
  <p>
    A Ludoterapia é indispensável para crianças diagnosticadas com autismo. Ou
    seja, por meio de brinquedos e jogos que atraem o interesse da criança, o
    terapeuta trabalha a interação social e o contato visual.
  </p>
  <h2>3) Grupos de habilidades sociais</h2>
  <p>
    Os grupos de habilidade sociais são reuniões entre pessoas que têm autismo,
    do grau mais leve até o mais grave, para praticar interações comuns no dia a
    dia.
  </p>
  <h2>4) Análise Aplicada do Comportamento (ABA)</h2>
  <p>
    A ABA é uma análise comportamental da criança por meio dos princípios da
    teoria do aprendizado. Isso tem o objetivo de amenizar certos comportamentos
    e estimular outros, como por exemplo o modo como a criança lida com os
    lugares diferentes.
  </p>
  <h2>5) Medicação</h2>
  <p>
    Não existe uma medicação direcionada propriamente ao tratamento do autismo.
    Mas tem remédios que podem ajudar a melhorar alguns problemas que aparecem
    em pessoas com autismo, como por exemplo:
  </p>
  <p>Agressividade</p>
  <br />
  <p>Ansiedade</p>
  <br />
  <p>hiperatividade</p>
  <br />
  <p>Impulsividade</p>
  <br />
  <p>Irritabilidade</p>
  <br />
  <p>Alterações de humor.</p>
  <br />
  <br />
  <h2>Comunicação e interação social:</h2>
  <br />
  <p>
    • Dificuldade para iniciar uma conversa ou falar sobre as emoções próprias;
  </p>
  <br />
  <p>
    • Dificuldade para compreender gestos, expressões e outras mensagens não
    verbais típicas de comunicação entre pessoas
  </p>
  <br />
  <p>
    • Ajustes na fala e comportamento de acordo com o contexto não são simples
    para quem sofre de autismo, causando dificuldades para estabelecer amizades
    e obter oportunidades de trabalho, por exemplo
  </p>
</div>
