<div>
  <img class="img" src="../../../assets/Teaching-rafiki.svg" alt="" />
  <div class="text">
    <br />
    <h2 class="titulo">Qual o papel da família no desenvolvimento do autista?</h2>
    <br />
    <p>
      Priorizar ações que fomentem ações de inclusão social dos portadores de
      autismo deve ser um propósito bem definido e envolver não só a família,
      como também a escola. Porém, a responsabilidade dos pais nesse papel é
      determinante, já que a verdadeira inclusão precisa começar em casa. Para o
      bom desempenho em todas as atividades, o autista necessita, em primeiro
      plano, contar com o apoio e receber o acolhimento de seus familiares. Esse
      aspecto é essencial, pois a família precisa ser bem orientada para
      conseguir defender os direitos humanos de seus membros com autismo.Tais
      fatores possibilitam o pleno desenvolvimento, influenciam o aprendizado e
      facilita a inclusão social.Vale destacar que todas as crianças,
      adolescentes, jovens e adultos diagnosticados com autismo usufruem, por
      Lei, da igualdade de direitos e dignidade garantidos a todas as pessoas.
      Crianças que recebem tratamento adequado conseguem desenvolver diversas
      habilidades fundamentais e necessárias ao processo de reabilitação. Porém,
      os pais precisam estar atentos a essa necessidade e buscar
      ajuda.Infelizmente, muitos pais ainda têm dificuldade para admitir que
      seus filhos precisam de um suporte especializado. Mesmo diante dos sinais
      clássicos dos distúrbios de desenvolvimento, essa negação é bem
      comum.Porém, essas atitudes precisam ser repensadas, já que a negação do
      problema não muda o diagnóstico. Pelo contrário, uma avaliação tardia
      dificulta a recuperação dos sintomas e retarda o desenvolvimento
      infantil.Logo, essa postura dos pais é bastante prejudicial em diferentes
      sentidos, além de reduzir a possibilidade de auxiliar o filho. Quando
      conscientes da importância de seu papel, os familiares ou responsáveis
      pelos autistas buscam ajuda e lutam cada vez mais pelos processos de
      inclusão.Adotar essa postura é fundamental ao empoderamento das pessoas
      com autismo. Mais do que isso: minimiza os impactos do preconceito que,
      muitas vezes, resulta da falta de conhecimento sobre esse transtorno.
    </p>
    <br />
    <h2 class="titulo">Para pais, amigos e familiares</h2>
    <br />
    <p>
      Por causa de todas essas dificuldades de comunicação, interação social e
      alterações comportamentais, o autismo não afeta só a pessoa que tem o
      transtorno e sim, impacta a rotina de toda a família.Os cuidados para uma
      criança autista e os desafios que os pais têm que enfrentar podem ser
      muito exaustivos física e emocionalmente.Por isso, separamos algumas dicas
      que podem ser muito úteis para conviver melhor:
    </p>
    <br />
    <h2 class="titulo">Construa uma rede de apoio</h2>
    <br />
    <p>
      Tomar decisões sobre a educação e o tratamento do seu filho autista não é
      uma tarefa fácil.Por isso, é muito importante o suporte de uma equipe de
      profissionais qualificada e de confiança como, por exemplo:
    </p>
    <p>• Psicólogo</p>
    <br />
    <p>• Psiquiatra</p>
    <br />
    <p>• Pediatra</p>
    <br />
    <p>• Nutricionista</p>
    <br />
    <p>• Neuropsicólogo</p>
    <br />
    <p>
      Outra dica valiosa é procurar o apoio de outras pessoas que passam pelo
      mesmo que você. Mas, se ainda sim você está se sentindo mal, procure a
      terapia. Você não precisa passar por isso sozinho
    </p>
    <br />
    <h2 class="titulo">Tire um tempo para si mesmo</h2>
    <br />
    <p>
      Lidar com os desafios do autismo pode ser difícil. Por isso, tire um tempo
      só para você e relaxar um pouco fazendo atividades que podem te dar prazer
      como, por exemplo:
    </p>
    <br>
    <p>• Realizar exercícios físicos</p>
    <br />
    <p>• Ler</p>
    <br />
    <p>• Viajar</p>
    <br />
    <p>• Conhecer novas pessoas</p>
    <br />
    <p>• Meditar</p>
    <br />
    <p>Isso evita que seus relacionamentos pessoais e familiares não sejam afetados por essa rotina estressante.</p>
  </div>
</div>
