<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <img class="img" src="../../../assets/mental-health-animate.svg" alt="" />
  </mat-grid-tile>
  <mat-grid-tile class="grid">
    <div class="text">
        <img class="img2" src="../../../assets/welcome-back-to-school-board-chalk-flat-by-Vexels.svg" alt="">
      <br />
      <mat-card class="matcard">
        <p >
            Nesse site oferecemos ajuda a pais e responsaveis, que são responsaveis
            por crianças ou possuem um ente querido proximo portador do transtorno
            mental bem conhecido na sociedade o famoso
          </p>
      </mat-card>
      <h1 id="autismo">AUTISMO!</h1>

      
    </div>
  </mat-grid-tile>
</mat-grid-list>
