<img class="img" src="../../../assets/s.svg" alt="" />
<div class="text">
  <H1 class="titulo">SOBRE O AUTISTA</H1>
  <H2 class="titulo">1 O que é o autismo (TEA)? </H2>
  <br />

  <p>
    O autismo é considerado um transtorno mental de desenvolvimento que causa
    problemas na: Linguagem; Dificuldades de comunicação; Interação social;
    Comportamento das pessoas. Nem todo mundo sabe, mas quando se fala em
    autismo, refere-se não a uma condição uniforme, isto é, que se apresenta de
    forma semelhante em todas as crianças com o quadro.O autismo recebe o nome
    completo de transtorno do espectro do autismo (TEA), desde 2013, no
    lançamento da quinta edição do Manual Diagnóstico e Estatístico de
    Transtornos Mentais (DSM-V).
  </p>
  <h2 class="titulo">Como os autistas se comportam:</h2>
  <br />

  <p>
    Falas ou movimentos estereotipados ou repetitivos (agitar as mãos ou estalar
    os dedos repetidamente, repetir frases, alinhar brinquedos); Necessidade
    muito grande de ter uma rotina rigidamente controlada, sendo que pequenas
    alterações causam muito sofrimento; Fixação grande por determinado tema (p.
    ex., preocupação com aspiradores de pó, dinossauros, futebol – buscando de
    uma forma obsessiva conhecimento e sobre minúcias desses assuntos); Reação
    extremada em relação a estímulos sensoriais (aversão ou apatia intensas por
    um determinado estímulo – cheiro, toque, som).
  </p>
  <h2 class="titulo">O autismo tem cura?</h2>
  <br />
  <p>
    O autismo não tem cura, ou seja, uma criança diagnosticada com autismo,
    seguirá autista durante todas as fases da sua vida. A diferença está no
    desempenho dessas pessoas, que, com acompanhamento médico e psicológico,
    podem desenvolver mais suas habilidades sociais. Por isso, quando o
    diagnóstico e tratamento começam cedo, mais eficiente é a resposta e o dia a
    dia dessa pessoa se torna mais fácil. Em geral, o diagnóstico do Transtorno
    do Espectro Autista (TEA) se dá entre os 3 primeiros anos de idade.
    Diferente de um transtorno conversivo, por exemplo, que tem um aparecimento
    agudo, o Transtorno do Espectro Autista normalmente é identificado por meio
    de pequenos detalhes do dia a dia da criança, que fazem com que se procure
    ajuda especializada
  </p>
  <br />
  <h2 class="titulo">Quais são as causas do autismo?</h2>
  <br />
  <p>
    Não existe uma causa única e determinada para o autismo na infância. Até os
    anos 80, o autismo era considerado um transtorno adquirido por influência de
    fatores do ambiente. O que se sabe hoje, porém, é que o autismo é resultado
    de uma série de alterações no funcionamento normal do cérebro. Ou seja, a
    comunidade médica acredita que fatores genéticos representam cerca de 90%
    das causas do autismo, enquanto fatores ambientais só são responsáveis por
    10%. Mas, apesar da genética ter o maior papel nessas causas, nenhuma
    alteração genética específica foi apontada. Pelo contrário, é provável que
    existam muitas mutações genéticas que podem causar o autismo.
  </p>
  <br />
  <h2 class="titulo">Quais os principais sintomas do autismo (TEA)?</h2>
  <br />
  <p>
    Todas as pessoas que têm autismo apresentam sinais e sintomas em comum como
    por exemplo: Dificuldades de comunicação, Comportamentos repetitivos
    interação, Comportamento social. Mas, vale lembrar que os sinais e sintomas
    de autismo (TEA) vão afetar cada pessoa de maneira e intensidade diferentes.
    Ou seja, isso depende de fatores como: Grau de comprometimento; Associação
    ou não com deficiência intelectual; Presença ou não de fala. Além disso,
    algumas pessoas autistas podem ter dificuldades de aprendizado em diversas
    fases da vida como, por exemplo: Na escola; No trabalho; Em atividades do
    dia a dia consideradas simples como tomar banho ou comer sozinho. Enquanto
    muitos podem levar uma vida relativamente “normal”, outros autistas podem
    precisar de ajuda profissional durante toda a vida por conta dos sinais e
    sintomas do TEA
  </p>
  <br />
  <h2 class="titulo">Autismo infantil: como identificar os primeiros sinais?</h2>
  <br />
  <p>
    Os primeiros sinais de autismo geralmente surgem quando a criança tem entre
    2 e 3 anos de idade. Isso porque esse é o momento em que ela inicia uma
    maior interação e comunicação com as pessoas e o ambiente. Por isso, veja
    algumas características que podem te ajudar a identificar se uma criança
    pode apresentar o Transtorno de Espectro Autista:
  </p>
  <br />
  <h2 class="titulo">Sinais e sintomas do autismo na interação social:</h2>
  <br />
  <p>
    Não olhar nos olhos mesmo quando alguém fala com ela; Risos e gargalhadas
    fora de hora, como por exemplo durante um velório ou um casamento; Não
    gostar de carinho ou afeto e por isso não se deixa abraçar ou beijar;
    Dificuldade em relacionar-se com outras crianças; Repetir sempre as mesmas
    coisas, sons e palavras; brincar sempre com os mesmos brinquedos.
  </p>
  <br />
  <h2 class="titulo">Sinais e sintomas do autismo na comunicação e linguagem</h2>
  <br />
  <p>
    A criança autista sabe falar, mas prefere não se comunicar; Repete uma
    pergunta várias vezes seguidas sem se importar se está chateando os outros;
    Tem sempre a mesma expressão no rosto e não entende gestos e expressões
    faciais dos outros; Quando fala, a comunicação é monótona
  </p>
  <br />
  <h2 class="titulo">Sinais e sintomas do autismo no comportamento e personalidad</h2>
  <br />
  <p>
    Não tem medo de situações perigosas, como por exemplo atravessar a rua sem
    olhar para os carros (esse sintoma deve ser diferenciado de um quadro de
    mania dentro do transtorno bipolar); Olha sempre na mesma direção como se
    estivesse parado no tempo; Fica se balançando para frente e para trás por
    vários minutos ou horas ou torcer as mãos ou os dedos constantemente;
    Dificuldade a se adaptar a uma nova rotina ficando agitado; Fica
    extremamente agitado quando está em público ou em ambientes barulhentos
  </p>
  <br />
  <div class="img2">
    <img src="../../../assets/wwwww.svg" alt="" />
  </div>

  <br />
  <h2 class="titulo">Adolescentes e adultos autistas: quais os sintomas</h2>
  <br />
  <p>
    O autismo em adultos e adolescentes pode ser mais leve por dois motivos
    principais: ou os sinais e sintomas do TEA passaram despercebidos durante a
    infância ou devido a melhora por meio de tratamentos especializados
  </p>
  <br />
  <h2 class="titulo">Características comuns em jovens autistas</h2>
  <br />
  <p>
    Ausência de amigos: geralmente o contato com pessoas se limita ao círculo
    familiar, colégio ou relações virtuais pela internet; Evita sair de casa:
    tanto para atividades habituais, como utilizar transportes e serviços
    públicos ou para atividades de lazer, preferindo sempre atividades
    solitárias e sedentárias; Falta de autonomia: principalmente para trabalhar;
    Costumam ter sintomas de depressão e ansiedade; Têm dificuldade de interação
    social, e interesse apenas em atividades específicas
  </p>
  <br />
  <h2 class="titulo">Quais os tipos de autismo?</h2>
  <br />
  <h3>Nível 1</h3>
  <p>
    O autismo nível 1 é o mais leve. Isso porque, nele as crianças apresentam
    dificuldades para se relacionar com outras pessoas e podem não querer
    interagir com os outros.Em geral, têm dificuldades para trocar de atividades
    e problemas na hora de planejar e organizar as coisas
  </p>
  <br />
  <h3>Nível 2</h3>
  <p>
    No autismo nível 2, as crianças podem ter um nível um pouco mais grave de
    deficiência nas relações sociais e na comunicação verbal e não verbal.Além
    disso, são mais inflexíveis. Podem também ter comportamentos repetitivos e
    dificuldade com mudança.Mudar o foco de suas ações também é custoso para
    pessoas no nível médio.
  </p>
  <br />
  <h3>Nível 3</h3>
  <p>
    No nível 3, ficam os déficits mais graves em relação à comunicação verbal e
    não verbal. A habilidade social também se estabelece com muito
    custo.Comportamentos como a dificuldade para lidar com mudança e ações
    repetitivas, se tornam ainda piores.Lidar com a mudança se torna ainda mais
    difícil.
  </p>
  <br />
  <h2 class="titulo">Dia mundial de conscientização do autismo</h2>
  <br />
  <p>
    A ONU instituiu o dia 2 de abril como Dia Mundial de Conscientização do
    Autismo, ou apenas Dia do Autismo, com objetivo de alertar e ampliar o
    debate sobre a doença.O primeiro evento ocorreu em 2008 e desde então, vêm
    se provando uma excelente ferramenta de quebra de preconceitos e de falta de
    informação.
  </p>
</div>
